:root {
  --header-icons-color: rgb(97, 96, 96);
}
.header {
  padding: 0.5rem 0;
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: white;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__left {
  display: flex;
  align-items: center;
}
.header__title-link {
  text-decoration: none;
}
.header__title {
  margin-left: 1rem;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 500;
  color: grey;
}
.header__center {
  display: flex;
  flex: 1;
  justify-content: center;
}
.header__searchInput {
  border: none;
  background-color: rgb(236, 236, 239);
  width: 70%;
  height: 50px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 0 1rem;
  position: relative;
  font-size: 1rem;
  outline: none;
}

.search__button {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 1rem;
  background-color: rgb(236, 236, 239);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  outline: none;
  cursor: pointer;
}
.search__icon {
  color: var(--header-icons-color);
}
.icon__button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 55px;
  height: 55px;
}
.icon__button:hover,
.icon__button:focus {
  background-color: rgb(236, 236, 239);
  border-radius: 50%;
}
.icon__button:hover .header__icon {
  color: black;
}
.icon__button + .icon__button {
  margin-left: 0rem;
}
.header__icon {
  color: var(--header-icons-color);
}

.border {
  border-bottom: 2px solid rgb(218, 218, 218);
  padding-top: 0.5rem;
}
