:root {
  --header-icons-color: rgb(97, 96, 96);
}

.header {
  padding-top: 0.5rem;
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: var(--background);
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__left {
  display: flex;
  align-items: center;
}
.header__title-link {
  text-decoration: none;
}
.header__title {
  margin-left: 1rem;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 500;
  color: grey;
}
.header__center {
  display: flex;
  flex: 1;
  justify-content: center;
}
.header__searchInput {
  border: none;
  background-color: var(--searchBarColor);
  width: 70%;
  height: 50px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 0 1rem;
  position: relative;
  font-size: 1rem;
  outline: none;
}
.header__searchInput::placeholder {
  color: var(--header-icons-color);
}
.search__button {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 1rem;
  background-color: var(--searchBarColor);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  outline: none;
  cursor: pointer;
}
.search__icon {
  color: var(--header-icons-color);
}
.icon__button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 55px;
  height: 55px;
}
.icon__button:hover,
.icon__button:focus {
  background-color: var(--HeaderIconBtnBg);
  border-radius: 50%;
}
.icon__button:hover .header__icon {
  color: var(--HeaderIcon);
}
.icon__button + .icon__button {
  margin-left: 0rem;
}
.header__icon {
  color: var(--header-icons-color);
}

.border {
  border-bottom: 2px solid rgb(218, 218, 218);
  padding-top: 0.5rem;
}
.theme-dark {
  background: var(--darkBackground);
  --searchBarColor: rgb(92, 91, 91);
  --HeaderIconBtnBg: rgb(54, 54, 54);
  --HeaderIcon: var(--offWhite);
}
.search__button--mobile {
  display: none;
}
@media only screen and (max-width: 768px) {
  .header__center {
    display: none;
  }
  .search__button--mobile {
    display: inline-block;
    background: none;
    border: none;
  }
}
