@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1270px !important;
  }
}
.home {
  padding-top: 5.5rem;
}
.home__container {
  display: flex;
}
.home__sideMenu {
  width: 22%;
  height: 100vh;
  max-width: 400px;
  min-width: 300px;
}
.sideMenu_item {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.6rem 0;
  padding-left: 2.6rem;
}
.sideMenu_item:hover {
  background-color: rgb(236, 236, 239);
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
}
.sideMenu_mui {
  color: var(--header-icons-color);
  margin-right: 1.9rem;
}
.active-menu {
  background-color: #e6ebca;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
}
.home__mainSection {
  width: 75%;
  padding-left: 3.5rem;
  margin-top: 1.3rem;
}
.home__noteInputs {
  width: 70%;
  margin: 0 auto;
}
.home__form {
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  padding: 1rem;
}
.home__form-title,
.home__form-textarea,
.home__form-closeBtn {
  padding-bottom: 1rem;
  border-style: none;
  font-size: 1rem;
  color: var(--header-icons-color);
}
.home__form-title {
  padding-bottom: 1.5rem;
  font-size: 1.1rem;
}
.home__form-textarea {
  max-height: 600px;
}
.home__form-closeBtn {
  text-align: center;
  width: 10%;
  margin-left: auto;
  background-color: transparent;
  cursor: pointer;
  padding-bottom: 0;
}
.home__form-title,
.home__form-textarea {
  outline: none;
  font-family: "Roboto", sans-serif;
}
.home__notes {
  margin-top: 4rem;
}
.my-masonry-grid {
  display: flex;
  margin-left: -30px;
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 20px;
  background-clip: padding-box;
}
.my-masonry-grid_column > div {
  border: 1px solid rgb(206, 206, 206);
  padding: 1rem;
  margin-bottom: 20px;
  border-radius: 10px;
}
.my-masonry-grid_column > div:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.noteCard__title {
  cursor: context-menu;
  color: rgb(92, 92, 92);
}
.noteCard__description {
  padding-top: 1rem;
  line-height: 22px;
  cursor: context-menu;
}
.noteCard__icons {
  display: flex;
  align-items: center;
  padding-top: 1.2rem;
}
.homeCard__btn {
  background: transparent;
  border: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.homeCard__btn:hover {
  background-color: rgb(236, 236, 239);
}
.homeCard__icon {
  color: var(--header-icons-color);
}
.modal {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
  z-index: 10;
  opacity: 1;
  visibility: visible;
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
  position: absolute;
  transform: translate(120%, 120%);
  border: 1px solid black;
  background-color: white;
  width: 30rem;
  border-radius: 0.5rem;
  min-height: 200px;
}
