@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1270px !important;
  }
}
.home {
  z-index: -1;
  padding-top: 5.5rem;
}
.home__container {
  display: flex;
}
.home__sideMenu {
  width: 25%;
}
.sideMenu_item {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 0.8rem 0;
  /* padding-right: 2rem; */
  width: 100%;
}
.sideMenu_item:hover {
  background-color: rgb(236, 236, 239);
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
}
.sideMenu_mui {
  color: var(--header-icons-color);
  margin-right: 1.9rem;
}
.active-menu {
  background-color: #e6ebca;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
}
.home__mainSection {
  /* border: 2px solid red; */
  width: 75%;
}
.home__noteInputs {
  width: 70%;
  margin: 0 auto;
}
.home__form {
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  padding: 1rem;
}
.home__form-title,
.home__form-textarea,
.home__form-closeBtn {
  padding-bottom: 1rem;
  border-style: none;
  font-size: 1rem;
  color: var(--header-icons-color);
}
.home__form-title {
  padding-bottom: 1.5rem;
  font-size: 1.1rem;
}
.home__form-closeBtn {
  text-align: center;
  width: 10%;
  margin-left: auto;
  background-color: transparent;
  cursor: pointer;
  padding-bottom: 0;
}
.home__form-title,
.home__form-textarea {
  outline: none;
  font-family: "Roboto", sans-serif;
}
.home__notes {
  margin-top: 4rem;
}
.masonry_noteCards {
}
.noteCard {
  border: 1px solid black;
}
