@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

:root {
  --header-icons-color: rgb(97, 96, 96);
  --background: white;
  --textColor: black;
  --inputBorderColor: white;
  --inputTextColor: rgb(97, 96, 96);
  --inputFieldColor: white;
  --noteCardBorder: rgb(206, 206, 206);
  --searchBarColor: rgb(236, 236, 239);
  --navMenuActive: #e6ebca;

  --offWhite: rgb(230, 230, 230);
  --darkBackground: #202124;
  --sideMenuItemHover: rgb(236, 236, 239);
  --HeaderIconBtnBg: rgb(236, 236, 239);
  --HeaderIcon: black;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
